<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <commerce>
            <endpoint>
                <product_endpoint>https://google.com</product_endpoint>
                <notification_endpoint>https://google.com</notification_endpoint>
            </endpoint>
        </commerce>
    </default>
</config>